.section-about {
  .container {
    position: relative;
    overflow: hidden;
    background: var(--blue-primary, #3fcbff);
  }
  .content {
    background: var(--blue-primary, #3fcbff);
    position: relative;
    border-radius: 1.2rem;
    padding: 1.2rem 1.2rem 0 1.2rem;
    @media (min-width: $mobile-small) {
      border-radius: 3.2rem;
      padding: 2.4rem 2.4rem 0 2.4rem;
      display: flex;
      justify-content: space-between;
    }
  }
  .text-content {
    font-family: $font1;
    color: #fff;
    position: relative;
    z-index: 10;
    @media (min-width: $mobile-small) {
      max-width: 50%;
    }

    &__title {
      @include section-title;
      color: #fff;
      margin-bottom: 0.7rem;
    }

    &__subtitle {
      @include section-text;
      color: #fff;
      margin-bottom: 0.7rem;
    }

    &__text {
      @include section-text;
      color: #fff;
      @media (min-width: $mobile-small) {
        max-width: 80%;
      }
    }
  }
  .image {
    position: relative;
    right: -2rem;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    min-height: 22.5rem;
    @media (min-width: $mobile-small) {
      min-height: 19.5rem;
      display: flex;
      justify-content: flex-end;
      width: 40%;
      max-width: 40rem;
      right: 0rem;
    }
    img {
      display: block;
      max-width: 100%;
    }
    &_sub {
      max-width: 77%;
      position: absolute;
      bottom: 0;
    }
    &_main {
      position: absolute;
      left: 0;
      bottom: 4rem;
      z-index: 1;
      max-width: 40%;
      @media (min-width: $mobile-small) {
        width: 50%;
        bottom: 1rem;
        left: 4rem;
      }
    }
  }

  @media (min-width: $mobile-small) {
    .section-layer {
      margin-top: 6.1rem;
      margin-bottom: 1.2rem;
      padding: 1.6rem 5.7rem 2.6rem 3.2rem;
    }
    .box-content {
      max-width: 70%;
      &__title {
        font-size: 4rem;
        line-height: 6.232rem;
        margin: 0;
        margin-bottom: 0.75rem;
        text-transform: none;
      }
      &__subtitle {
        font-size: 2.2rem;
        line-height: 2.64rem;
        margin-bottom: 1.2rem;
      }
      &__text {
        font-size: 2.2rem;
        line-height: 1.36;
        max-width: 90%;
      }
    }
    .box-pic {
      transform: translateY(-50%);
      &::after {
        right: 10rem;
      }
    }
    .pic-layer {
      position: absolute;
      max-height: 100%;
      right: 0rem;
      top: auto;
      &__percent {
        img {
          max-width: 24rem;
          width: 24rem;
        }
      }
    }
    .picture {
    }
  }
  @media (min-width: 1440px) {
    .section-layer {
      max-width: 85%;
    }
  }
}
