.section-app {
  .container {
    padding-top: 2.4rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 0;
    gap: 21%;
    padding-left: 0;
    padding-right: 0;
  }
  .container__app {
    max-width: calc(100% - 2 * 1.2rem);
    padding: 1.2rem 1.2rem 0 1.2rem;
    background-color: #00bfff;
    margin: 0 auto;
    border-radius: 1.6rem;
    @media (min-width: $mobile-small) {
      max-width: none;
      width: 100%;
      border-radius: 3.2rem;
      padding: 2.4rem 2.4rem 0 2.4rem;
      display: flex;
    }
  }
  .app {
    &__title {
      margin-bottom: 0.8rem;
      font-family: $font2;
      color: #fff;
    }
    &__text {
      font-size: 1.2rem;
      line-height: 1.6rem;
      font-family: $font1;
      color: #fff;
      margin-bottom: 1.6rem;
      p {
        color: #fff;
        margin-bottom: 0.6rem;
      }
    }
  }
  .box-pic {
    width: 16vw;
    min-width: 33rem;
    margin: 0 auto;
    @media (min-width: $mobile-small) {
      width: 9vw;
      max-width: 27.5rem;
      min-width: auto;
      margin: 0 auto;
    }
    picture {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    img {
      display: block;
      position: relative;
      width: 100%;
    }
  }
}
.app__list {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0;
  margin: 0;
}
.list__item {
  margin-bottom: 0.5rem;
}
.qr-code {
  width: 10rem;
  height: 10rem;
  margin-right: 3.6rem;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 1.2rem;
  position: absolute;
  display: none;
  @media (min-width: $mobile-small) {
    display: block;
    right: auto;
    left: 2.4rem;
    bottom: 2.4rem;
  }
  img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}
.box-app {
  text-align: center;

  &__links {
    margin-bottom: 1.8rem;
  }

  .app-links {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @media (min-width: $mobile-small) {
      display: none;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}


