.section-calc {
  .container {
    flex-direction: column;
    padding-top: 2.4rem;
    padding-bottom: 2rem;
    @media (min-width: $mobile-small) {
      flex-direction: row;
      gap: 2%;
      padding-bottom: 3rem;
      padding-top: 2.9rem;
    }

    &__calc {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      border-radius: 1.6rem;
      background: var(--gray-day-50, #f2f2f2);
      @media (min-width: $mobile-small) {
        flex-wrap: nowrap;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        border-radius: 3.2rem;
      }
    }
  }
  .slider {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-bottom: 0.8rem;
    @media (min-width: $mobile-small) {
      flex-wrap: nowrap;
      margin-bottom: 2.4rem;
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }

  .slider_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 auto;
    @media (min-width: $mobile-small) {
      flex-wrap: nowrap;
      padding: 0;
    }
  }

  .devices-list {
    &__item {
      width: calc(100% / 2 - 0.5rem);
      height: 12.6rem;
      border-radius: 1.2rem;
      border: 0.1rem solid #f3f5f6;
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      transition: 0.4s;
      cursor: pointer;
      background-color: #d9d9d9;
      overflow: hidden;
      @media (min-width: $mobile-small) {
        width: calc(100% / 4 - 0.5rem);
        height: 16.6rem;
        border-radius: 2.5rem;
        padding: 2.1rem 1.5rem;
      }
      &.active:not(.devices__item_last) {
        background-color: #fff;
        box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.22);
      }
      &:hover:not(.devices__item_last) {
        box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.22);
      }
    }
  }
  .devices-item {
    &__name {
      font-family: $font2;
      font-size: 1.5rem;
      line-height: 1.4rem;
      font-weight: 700;
      @media (min-width: $mobile-small) {
        font-size: 1.6rem;
      }
    }
    &__image {
      max-width: 70%;
      text-align: center;
      position: absolute;
      bottom: -1rem;
      img {
        max-width: 100%;
        display: block;
      }

      @media (min-width: $mobile-small) {
        max-width: 60%;
        bottom: 0;
      }
    }
  }

  .calc-grid {
    display: grid;
    grid-template-rows: 18.5rem 8rem 7rem 15rem;
    grid-template-columns: 43% 55%;
    font-family: $font1;
    margin: 0 auto;
    width: calc(100% - 1.2rem * 2);
    max-width: 60rem;
    background-color: #fff;
    border-radius: 1.6rem;
    padding: 1.2rem;
    @media (min-width: $mobile-small) {
      grid-template-rows: 21rem 10rem auto 5rem;
      grid-template-columns: 29% 6% auto;
      padding: 2.4rem;
      flex-basis: 100%;
      width: calc(100% - 2.4rem * 2);
      border-radius: 3.2rem;
      position: relative;
      max-width: none;
    }
    &__input-block {
      grid-column: 1/3;
      grid-row: 1/2;
      margin-bottom: 3.6rem;
      @media (min-width: $mobile-small) {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-bottom: 0;
      }
    }

    &__title {
      @include section-title;
      @media (min-width: $mobile-small) {
        padding-bottom: 5.4vw;
      }
    }

    &__input {
      position: relative;
      width: 100%;
      max-width: 29rem;
      margin: 4rem auto;
      height: 5rem;
      margin-bottom: 2rem;
      @media (min-width: $mobile-small) {
        max-width: 88%;
        margin: 0;
        height: 5rem;
      }
    }

    &__bg {
      position: absolute;
      width: 90%;
      left: 52%;
      transform: translateX(-50%);
      height: 0.7rem;
      background-color: #d3d9df;
      background-image: linear-gradient(to right, #3fcbff 83.3%, #d3d9df 83.3%);
      border-radius: 1.2rem;
      display: flex;
      justify-content: space-between;
      @media (min-width: $mobile-small) {
        width: 100%;
        left: 50%;
      }
    }

    .spots-line__item {
      width: 1.2rem;
      height: 1.2rem;
      margin-top: -0.2rem;
      border-radius: 50%;
      background-color: #3fcbff;
    }
    &__line {
      position: absolute;
      width: 107%;
      left: -2%;
      display: flex;
      justify-content: space-between;
      @media (min-width: $mobile-small) {
        width: 110%;
        left: -4.5%;
      }
    }

    &__image-block {
      grid-column: 1/2;
      grid-row: 2/4;
      display: flex;
      justify-content: center;
      max-height: 15rem;

      img {
        max-height: 100%;
        display: block;
      }
      @media (min-width: $mobile-small) {
        grid-column: 1/2;
        grid-row: 1/3;
        max-width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-end;
        max-height: 31rem;
        img {
          max-width: 100%;
        }
      }
    }

    &__name-block {
      grid-column: 2/3;
      grid-row: 2/3;
      @media (min-width: $mobile-small) {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 2rem;
      }
    }
    &__price {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: end;
      @media (min-width: $mobile-small) {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
    &__link {
      display: none;

      @media (min-width: $mobile-small) {
        display: block;
        grid-column: 1/2;
        grid-row: 4/5;
        font-family: $font2;
        text-align: center;
        font-size: clamp(1rem, 1.5vw, 1.6rem);
        font-weight: 800;
        align-self: center;
      }
    }
    &__label_desktop {
      display: none;
      @media (min-width: $mobile-small) {
        display: inline-block;
        background-image: url("../img/page/label-desktop.svg");
        width: 11rem;
        height: 11rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        top: 32%;
        left: 4%;
      }
    }

    &__label_mobile {
      background-color: #3fcbff;
      color: #fff;
      font-size: 1.2rem;
      font-family: $font1;
      border-radius: 1.6rem;
      display: inline-block;
      padding: 0.6rem 0rem;
      margin-bottom: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      width: 100%;
      text-align: center;
      @media (min-width: $mobile-small) {
        display: none;
      }
    }

    &__name-block {
      font-family: $font2;
      font-weight: 700;
      margin-bottom: 3rem;
      @media (min-width: $mobile-small) {
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
    }
    &__name {
      letter-spacing: -0.5px;
      @media (min-width: $mobile-small) {
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 1.4rem;
        letter-spacing: 0;
        padding: 0 1rem;
        text-align: center;
        font-size: clamp(1.2rem, 2.8vw, 1.6rem);
        max-width: 100%;
        margin: 0 auto;
        max-width: 90%;
      }
    }
  }
  .input-line {
    &__item {
      display: flex;
      justify-content: center;
      position: relative;
    }
    &__range {
      position: absolute;
      top: -3.5rem;
      transition: 0.4s;
    }

    &__range_max.active {
      opacity: 1;
    }
    &__input {
      display: none;
    }
    input[type="radio"]:checked + label {
      font-size: 1.2rem;
      color: $color-dark;
      cursor: pointer;
      @media (min-width: $mobile-small) {
        font-size: 1.6rem;
      }
    }

    input[type="radio"]:disabled + label {
      color: $color-lightgray;
    }

    input[type="radio"]:checked + label::before {
      width: 2.1rem;
      height: 2.1rem;
      top: -0.7rem;
      background-color: var(--gray-day-300, #3fcbff);
      fill: var(--blue-primary, #3fcbff);
      will-change: filter;
      -webkit-filter: drop-shadow(-2px 0px 7px rgba(0, 0, 0, 0.31));
      filter: drop-shadow(-2px 0px 7px rgba(0, 0, 0, 0.31));
    }
    input[type="radio"].in-range + label::before {
      background-color: var(--gray-day-300, #3fcbff);
    }

    input[type="radio"].in-range_pink + label::before {
      background-color: #ef2ca0;
    }

    &__label {
      display: block;
      padding-top: 2.4rem;
      font-size: 0.9rem;
      cursor: pointer;
      color: var(--gray-day-300, #a2abb4);
      font-family: $font1;
      position: relative;
      min-width: 4rem;
      text-align: center;
      user-select: none;
      &::before {
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        background-color: #d3d9df;
        border-radius: 50%;
        position: absolute;
        top: -4.5%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.4s;
      }

      @media (min-width: $mobile-small) {
        padding-top: 2.8rem;

        font-size: clamp(0.5rem, 0.9vw, 1.2rem);
        min-width: 3vw;
        text-align: center;
        &::before {
          content: "";
          width: 1.4rem;
          height: 1.4rem;
          top: -4.5%;
        }
      }
    }

    &__popup {
      position: absolute;
      background-color: #fff;
      font-size: 1.4rem;
      padding: 1.2rem;
      border-radius: 1.2rem;
      min-width: 15rem;
      top: -150%;
      right: 25%;
      opacity: 0;
      transition: 0.4s;
      animation: none;
      box-shadow: 0 0 10px #00000039;
      &::before {
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: rgb(255, 255, 255);
        bottom: -6%;
        right: 10%;
        transform: rotate(45deg);
      }
    }

    input[type="radio"]:checked ~ .input-line__popup {
      animation: 3s linear 0s 1 normal forwards showPopup;
    }
  }

  .price {
    &__info {
      display: flex;
      flex-direction: column;
      @media (min-width: $mobile-small) {
        flex-direction: row;
        align-items: flex-end;
        gap: 1rem;
      }
    }

    &__old-price {
      color: var(--blue-primary, #3fcbff);
      font-family: $font1;
      width: 9rem;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: line-through;
      @media (min-width: $mobile-small) {
        order: 2;
        font-size: 2.4rem;
        line-height: 2.88rem;
      }
    }

    &__new-price {
      color: #000;
      font-family: $font1;
      font-size: 2.2rem;
      width: 10rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      @media (min-width: $mobile-small) {
        width: auto;
        font-size: 4.4rem;
        font-weight: 500;
        line-height: 5.28rem;
        order: 1;
      }
    }
    &__button {
      letter-spacing: normal;
    }
  }

  .buttons-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/3;
    grid-row: 4/5;
    margin-top: 2rem;
    @media (min-width: $mobile-small) {
      grid-column: 3/4;
      grid-row: 3/5;
      flex-direction: row;
      gap: 1.6rem;
    }
    &__item {
      @include btn;
      width: 90%;
      max-width: 27rem;

      @media (min-width: $mobile-small) {
        margin-bottom: 0;
        font-size: clamp(1.2rem, 1.12vw, 1.6rem);
        padding: 1.2vw 2vw;
      }
    }
    &__item:first-child {
      background-color: #000;
      color: #fff;
      margin-bottom: 1.8rem;
      @media (min-width: $mobile-small) {
        margin: 0;
      }
    }
    &__item:last-child {
      border: 1px solid #000;
      margin: 0;
    }
  }
  //--------------------------------------------------------------------desktop--------------------------

  @media (min-width: $mobile-small) {
    //калькулятор десктоп

    .calc-grid {
      &__bg {
        width: 100%;
        height: 0.8rem;
      }
    }

    .input-line {
      input[type="radio"]:checked + label::before {
        width: 2.4rem;
        height: 2.4rem;
        top: -0.7rem;
      }
      input[type="radio"]:checked + label {
        font-size: clamp(0.7rem, 1.1vw, 1.6rem);
        color: $color-dark;
      }
    }
  }
}

@keyframes showPopup {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
