.section-calc {
  .section-layer {
    flex-direction: column;

    padding-left: 0;
    padding-right: 0;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .slider {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none;
    max-width: 100vw;

    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }

  .slider_inner {
    min-width: calc(10.2rem * 6 + 1rem * 5);
    max-width: 66rem;
    padding-right: 1.8rem;
    padding-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .devices {
    &__item {
      width: 10.2rem;
      max-height: 10.6rem;
      border-radius: 1.2rem;
      background: var(--gray-day-50, #f3f5f6);
      border: 0.1rem solid #f3f5f6;
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.4s;
      cursor: pointer;

      &.active:not(.devices__item_last) {
        border: 0.1rem solid #3fcbff;
        box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.22);
      }
      &:hover:not(.devices__item_last) {
        box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.22);
      }
      &_last {
        background: var(--blue-primary, #3fcbff);
        color: #fff;
        align-items: flex-start;
        .devices-item__link {
          height: 100%;
          width: 100%;
        }
        .devices-item__name {
          text-align: left;
          margin-bottom: 0.5rem;
          color: #fff;
        }
        .devices-item__icon {
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-align: left;
          border: 0.2rem solid #fff;
          border-radius: 50%;
          margin-bottom: 0.5rem;
          transition: 0.4s;
          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }
  .devices-item {
    &__name {
      font-family: $font1;
      font-size: 1rem;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
    }
    &__image {
      max-height: 6rem;
      margin-bottom: 0.5rem;
      text-align: center;
      max-width: 100%;
      img {
        max-height: 6rem;
        display: block;
      }
    }
  }
  .calc-grid {
    display: grid;
    // grid-template-rows: 40% 16% 26% auto;
    grid-template-rows: 21rem 8rem 13rem 5rem;
    grid-template-columns: 47% 53%;
    font-family: $font1;
    background-color: #f3f5f6;
    margin: 0 auto;
    width: 100%;
    max-width: 60rem;
    &__input-block {
      grid-column: 1/3;
      grid-row: 1/2;
      margin-bottom: 3.6rem;
    }

    &__title {
      padding-top: 3.4rem;
      padding-bottom: 4.4rem;
      font-size: 2.4rem;
      line-height: 1.3;
      font-family: $font1;
      text-align: center;
      max-width: 70%;
      margin: 0 auto;
    }

    &__input {
      position: relative;
      width: 90%;
      max-width: 38rem;
      margin: 0 auto;
      height: 5rem;
    }

    &__bg {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 0.7rem;
      background-color: #d3d9df;
      background-image: linear-gradient(to right, #3fcbff 83.3%, #d3d9df 83.3%);
      border-radius: 1.2rem;
      display: flex;
      justify-content: space-between;
    }
    .spots-line__item {
      width: 1.2rem;
      height: 1.2rem;
      margin-top: -0.2rem;
      border-radius: 50%;
      background-color: #3fcbff;
    }
    &__line {
      position: absolute;
      width: 109%;
      left: -4.5%;
      display: flex;
      justify-content: space-between;
    }

    &__image-block {
      grid-column: 1/2;
      grid-row: 2/4;
      display: flex;
      justify-content: center;
      max-height: 18rem;
      img {
        max-height: 100%;
        display: block;
      }
    }

    &__name-block {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &__price {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    &__link {
      grid-column: 1/3;
      grid-row: 4/4;
      text-align: center;
    }
    &__label_desktop {
      display: none;
    }

    &__label_mobile {
      background-color: #3fcbff;
      color: #fff;
      font-size: 1.2rem;
      font-family: $font1;
      border-radius: 3rem;
      display: inline-block;
      padding: 0.2rem 1rem;
      margin-bottom: 0.8rem;
      font-size: 1.2rem;
    }

    &__name-block {
      font-family: $font1;
      font-weight: 700;
      margin-bottom: 3rem;
    }
    &__name {
      letter-spacing: -0.5px;
    }
  }
  .input-line {
    &__item {
      display: flex;
      justify-content: center;
      position: relative;
      // width: 100%;
    }
    &__range {
      position: absolute;
      top: -3.5rem;
      transition: 0.4s;
    }
    // &__range_max {
    //   opacity: 0;
    // }

    &__range_max.active {
      opacity: 1;
    }
    &__input {
      display: none;
    }
    input[type="radio"]:checked + label {
      font-size: 1.6rem;
      color: $color-dark;
      cursor: pointer;
    }

    input[type="radio"]:disabled + label {
      color: $color-lightgray;
    }

    input[type="radio"]:checked + label::before {
      width: 2.1rem;
      height: 2.1rem;
      top: -0.7rem;
      background-color: var(--gray-day-300, #3fcbff);
      fill: var(--blue-primary, #3fcbff);
      will-change: filter;
      -webkit-filter: drop-shadow(-2px 0px 7px rgba(0, 0, 0, 0.31));
      filter: drop-shadow(-2px 0px 7px rgba(0, 0, 0, 0.31));
    }
    input[type="radio"].in-range + label::before {
      background-color: var(--gray-day-300, #3fcbff);
    }
    &__label {
      display: block;
      padding-top: 2.4rem;
      font-size: 1.2rem;
      cursor: pointer;
      color: var(--gray-day-300, #a2abb4);
      font-family: $font1;
      position: relative;
      min-width: 4rem;
      text-align: center;
      user-select: none;
      &::before {
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        background-color: #d3d9df;
        border-radius: 50%;
        position: absolute;
        top: -5.5%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.4s;
      }
    }
  }

  .price {
    &__info {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 1.8rem;
    }

    &__old-price {
      color: var(--blue-primary, #3fcbff);
      font-family: $font1;
      width: 9rem;
      order: 2;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: line-through;
    }

    &__new-price {
      order: 1;
      color: #000;
      font-family: $font1;
      font-size: 2.2rem;
      width: 10rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
    }
  }
  //--------------------------------------------------------------------desktop--------------------------

  @media (min-width: 768px) {
    .section-layer {
      flex-direction: row;
      gap: 2%;
      padding-bottom: 5rem;
      padding-top: 4.9rem;
    }
    .slider {
      overflow-x: visible;
      order: 2;
      max-width: 30%;
      min-width: 38rem;
      margin: 0;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      display: flex;
    }

    .slider_inner {
      min-width: 100%;
      max-width: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 1rem;
    }

    .devices {
      &__item {
        width: 18vw;
        max-width: calc(100% / 2 - 1rem);
        max-height: none;
        height: 19.8rem;
        border-radius: 2.5rem;
        padding: 2.1rem 1.5rem;

        &_last {
          justify-content: center;
          .devices-item__name {
            text-align: left;
            margin-bottom: 3rem;
          }
          .devices-item__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .devices-item__icon {
            width: 3.9rem;
            height: 3.9rem;
            margin-bottom: 0.5rem;
            transition: 0.4s;
            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }
    .devices-item {
      &__name {
        font-size: 1.6rem;
        line-height: 1.3;
      }
      &__image {
        height: 11rem;
        max-height: fit-content;
        max-width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        img {
          height: 11rem;
          max-height: fit-content;
        }
      }
    }
    //калькулятор десктоп

    .calc-grid {
      grid-template-rows: 60% 17% 6%;
      grid-template-columns: 45% 55%;
      margin: 0;
      flex-basis: 100%;
      max-height: 80.7rem;
      border-radius: 2.5rem;
      padding-top: 7vw;
      position: relative;
      max-width: none;
      &__input-block {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-bottom: 0;
      }

      &__title {
        padding-bottom: 5.7vw;
        font-size: 3.6rem;
        font-size: clamp(2rem, 3vw, 3.6rem);
        text-align: left;
        max-width: 90%;
        margin: 0;
      }

      &__input {
        width: 90%;
        margin: 0;
        height: 5rem;
      }

      &__bg {
        width: 100%;
        height: 0.8rem;
      }

      &__image-block {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        max-height: 28rem;
        img {
          max-height: 100%;

          display: block;
        }
      }

      &__name-block {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
      }
      &__price {
        grid-column: 2/3;
        grid-row: 2/4;
      }
      &__link {
        grid-column: 1/2;
        grid-row: 3/3;
        text-align: center;
        font-size: clamp(1rem, 1.5vw, 2rem);
        font-weight: 700;
        align-self: flex-end;
      }
      &__label_mobile {
        display: none;
      }

      &__label_desktop {
        display: inline-block;
        width: 9rem;
        height: 9rem;
        background-image: url("../img/page/label-desktop.svg");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        top: 40%;
        left: 5%;
      }

      &__name {
        letter-spacing: 0;
        padding: 0 1rem;
        text-align: center;
        font-size: clamp(2.5rem, 2.8vw, 2.8rem);
        max-width: 100%;
        margin: 0 auto;
        max-width: 90%;
      }
    }

    .input-line {
      input[type="radio"]:checked + label::before {
        width: 2.4rem;
        height: 2.4rem;
        top: -0.7rem;
      }
      input[type="radio"]:checked + label {
        font-size: clamp(0.7rem, 1.1vw, 1.6rem);
        color: $color-dark;
      }
      &__label {
        padding-top: 2.8rem;
        font-size: 1.2rem;
        font-size: clamp(0.5rem, 0.9vw, 1.2rem);
        min-width: 3vw;
        text-align: center;
        // border: 1px solid red;
        &::before {
          content: "";
          width: 1.4rem;
          height: 1.4rem;
          top: -5.9%;
        }
      }
    }

    .price {
      justify-content: center;
      padding-right: 0.8rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-start;
      align-items: flex-end;
      // gap: 2.7rem;
      &__info {
        gap: 1rem;
        width: 9rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 0;
        min-width: 10vw;
        max-width: 10rem;
      }

      &__old-price {
        order: 1;
        width: auto;
        font-size: 2.4rem;
        font-size: clamp(1.4rem, 2vw, 2.4rem);
      }

      &__new-price {
        width: auto;
        // width: 9rem;
        font-size: 4.4rem;
        font-size: clamp(2rem, 2.5vw, 4.4rem);
      }
      &__button {
        display: inline;
        // max-height: 6rem;
        max-width: 17.5rem;
        font-size: clamp(1rem, 1.2vw, 1.6rem);
        padding: 1.2vw 1vw;
        margin: 0;
      }
    }
  }
}
